n8n/workflows/telegram-backend-orchestrator.json
{
  "name": "Telegram -> Node Backend Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.message?.text || ''}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "2",
      "name": "Has Text Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chat_id",
              "value": "={{$json.body.message.chat.id}}"
            },
            {
              "name": "text",
              "value": "={{$json.body.message.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$env.BACKEND_BASE_URL}}/api/chat",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"customerId\":\"{{$json.chat_id}}\",\"message\":\"{{$json.text}}\"}"
      },
      "id": "4",
      "name": "Chatbot API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"chat_id\":\"{{$('Extract Message').item.json.chat_id}}\",\"text\":\"{{$json.reply}}\"}"
      },
      "id": "5",
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1060,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$('Chatbot API').item.json.order?.payos_qr_image_url || ''}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "6",
      "name": "Has QR Image URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1260,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendPhoto",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"chat_id\":\"{{$('Extract Message').item.json.chat_id}}\",\"photo\":\"{{$('Chatbot API').item.json.order.payos_qr_image_url}}\",\"caption\":\"{{$('Chatbot API').item.json.telegram?.photoCaption || 'QR thanh toan'}}\"}"
      },
      "id": "7",
      "name": "Send QR Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1480,
        120
      ]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Has Text Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text Message?": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Chatbot API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot API": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text": {
      "main": [
        [
          {
            "node": "Has QR Image URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has QR Image URL?": {
      "main": [
        [
          {
            "node": "Send QR Photo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "telegram-node-backend-v1"
}

